{% extends 'base.html' %} {% load static %} {% block style %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'css/clan-detail.css' %}" /> -->
{% endblock %} {% block content %}
<h1 style="text-align: center;">{{ clan.name }}</h1>
{%if current_user.profile.clan_set.all %} {%else%}
<a href="{% url 'clan_join' clan.id %}">Join Clan</a>
{%endif%}
<table class="tb-1">
  <tbody>
    <tr>
      <th class="td-1">Member</th>
      <th class="td-1">Id</th>
    </tr>
    {% for member in clan.members.all %}
    <tr>
      <td class="td-1">
        <a href="{% url 'user_detail' member.user.id %}"
          >{{ member.user.username }}</a
        >
      </td>
      <td class="td-1">
        {{ member.user.id }}
      </td>
    </tr>
    {% empty %}
    <h3>There don't seem to be any members...</h3>
    {% endfor %}
  </tbody>
</table>
<a href="/clan/">Back</a>
{% endblock %}
