{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/clan.css' %}" />
{% endblock %} {% block content %}
<h1 style="text-align: center;">{{ clan.name }}</h1>
<a href="{% url 'clan_index' %}">Back</a>
{%if current_user.profile.clan_set %} {%else%}
<a href="{% url 'clan_join' clan.id %}">Join Clan</a>
{%endif%} {% if clan.members.all %}
<table class="tb-1">
  <tbody>
    <tr>
      <th class="td-1">Id</th>
      <th class="td-1">Member</th>
    </tr>
    {% for member in clan.members.all %}
    <tr>
      <td class="td-1">
        {{ member.user.id }}
      </td>
      <td class="td-1">
        <a href="{% url 'user_detail' member.user.id %}"
          >{{ member.user.username }}</a
        >
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%else%}
<h3>There don't seem to be any members...</h3>
{%endif%}
<hr />
<h1>Add user to your clan</h1>

<form action="{% url 'clan_add_new' clan.id%}" method="post">
  {% csrf_token %}
  <div>
    <label>Select which user you would like to add</label>
    <select name="selected">
      {% for user in user_without_clan%}
      <option value="{{user.username}}">
        {{user.username}}
      </option>
      {% endfor %}
    </select>
    <button type="submit">Add</button>
  </div>
</form>
{% endblock %}
