{% extends 'base.html' %} 
{% block content %}
<table id="homeTable">
  <tbody>
    <tr>
      <td id="homeTd">
        <img id="feedsImg" src="../static/img/feeds.png" />
        <ul class="feedsList">
          <li>Lorem ipsum dolor sit amet,</li>
          <li>consectetur adipiscing elit.</li>
          <li>Etiam et elit et diam posuere interdum maximus at orc</li>
          <li>In euismod turpis ac fringilla blandit.</li>
          <li>Donec convallis ex sem</li>
          <li>nec posuere nulla malesuada non</li>
          <li>Sed tincidunt metus ac erat tincidunt feugiat</li>
          <li>Aliquam et tempor eros</li>
          <li>nec pellentesque arcu.</li>
          <li>
            Vivamus quam metus, mollis non dignissim sit amet, scelerisque ac
            ipsum
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}