{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %}
 {% block content %}

<table id="homeTable tb-1">
  <tbody>
    <tr>
      <td id="homeTd td-1">
        <img id="aboutImg" src="../static/img/about.png" />
        <p>
          <img src="images/aaa" />
          <a href="https://en.wikipedia.org/wiki/Gogo%27s_Crazy_Bones"
            >Crazy Bones</a
          >
          are small colorful characters that come in hundreds of colors and
          designs, each one with a unique name, design, personality and special
          ability. Gogo's were inspired by games from ancient Greece where
          children played by bouncing and throwing the carved knuckle bones of
          sheep, called astralgus<img src="images/aaa" /> - the game was called
          Astragals . The game has survived for over 3.000 years, and is known
          today as "jacks"; marbles are another variation. Each Gogo has a
          unique number for collecting and designed so you can hold and throw
          with one finger. Their 'Gogo's' name is a reference to 'Gogo
          Jacks'<img src="images/aaa" /> which is the English name for the
          ancient game of Tabas. And their name Bones is a reference to how the
          original game was played with real bones.
        </p>
      </td>
    </tr>
  </tbody>
</table>
<hr />
<table id="homeTable tb-1">
  <tbody>
    <tr>
      <td id="homeTd td-1">
        <img id="feedImg" src="../static/img/feed.png" />
        <ul class="feedList">
          <li>Lorem ipsum dolor sit amet,</li>
          <li>consectetur adipiscing elit.</li>
          <li>Etiam et elit et diam posuere interdum maximus at orc</li>
          <li>In euismod turpis ac fringilla blandit.</li>
          <li>Donec convallis ex sem</li>
          <li>nec posuere nulla malesuada non</li>
          <li>Sed tincidunt metus ac erat tincidunt feugiat</li>
          <li>Aliquam et tempor eros</li>
          <li>nec pellentesque arcu.</li>
          <li>
            Vivamus quam metus, mollis non dignissim sit amet, scelerisque ac
            ipsum
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
<hr />
<table id="homeTable tb-1">
  <tbody>
    <tr>
      <td id="homeTd td-1">
        <img
          style="width: 500px; margin: 0 auto; display: block;"
          src="http://code.divshot.com/geo-bootstrap/img/test/construction.gif"
        />
        <p style="background-color: orange; font-size: 25px;">
          <i>Watch Out!</i> This area is <span style="color: blue;">u</span
          ><span style="color: red; font-size: 50px;">n</span
          ><span style="color: yellow;">d</span><span><u>e</u></span
          ><span>r</span> construction!
        </p>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
