{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" />
{% endblock %} {% block content %}

<table class="tb-1">
  <tbody>
    <tr>
      <td class="td-1">
        <img id="aboutImg" src="../static/img/about.png" />
        <p>
          <img src="images/aaa" />
          <a href="https://en.wikipedia.org/wiki/Gogo%27s_Crazy_Bones">Crazy Bones</a>
          are small colorful characters that come in hundreds of colors and
          designs, each one with a unique name, design, personality and special
          ability. Gogo's were inspired by games from ancient Greece where
          children played by bouncing and throwing the carved knuckle bones of
          sheep, called astralgus<img src="images/aaa" /> - the game was called
          Astragals . The game has survived for over 3.000 years, and is known
          today as "jacks"; marbles are another variation. Each Gogo has a
          unique number for collecting and designed so you can hold and throw
          with one finger. Their 'Gogo's' name is a reference to 'Gogo
          Jacks'<img src="images/aaa" /> which is the English name for the
          ancient game of Tabas. And their name Bones is a reference to how the
          original game was played with real bones.
        </p>
      </td>
    </tr>
  </tbody>
</table>
<hr />
{% if user.is_authenticated %}
<table class="tb-1">
  <tbody>
    <tr>
      <td class="td-1">
        <img id="feedImg" src="../static/img/feed.png" />
        <ul class="feedList">
          {% for feed_item in feed %}
          <li class="feed-li">
            {% if feed_item.get_type == 'comment' %}
            <h3 class="comment-h3">Comment!</h3>
            <div class="feed-card comment">
              <a href="{% url 'cb_detail' feed_item.cb.id %}">
                <div class="trade-half">
                  <img src="{{ feed_item.cb.img }}" alt="cb">
                  {{ feed_item.cb }}
                </div>
              </a>
              <p>"{{feed_item.text}}" - <strong><a href="{% url 'user_detail' feed_item.user.user.id %}">{{ feed_item.user.user.username }}</a></strong></p>
            </div>
            {% elif feed_item.get_type == 'battle' %}
            <div class="feed-card">
              <strong><a href="{% url 'user_detail' feed_item.challenger.user.id %}">{{ feed_item.challenger.user.username}}</a></strong>
              <a href="{% url 'cb_detail' feed_item.challenger_cb.id %}">
                <div class="trade-half">
                  <img src="{{ feed_item.challenger_cb.img }}" alt="cb-offered">
                  {{ feed_item.challenger_cb }}
                </div>
              </a>
              <img src="https://www.pngfind.com/pngs/m/538-5380909_pow-png-comic-clipart-transparent-png.png" alt="" style="width: 50px;">
              <a href="{% url 'cb_detail' feed_item.defender_cb.id %}">
                <div class="trade-half">
                  <img src="{{ feed_item.defender_cb.img }}" alt="cb-offered">
                  {{ feed_item.defender_cb }}
                </div>
              </a>
              <strong><a href="{% url 'user_detail' feed_item.defender.user.id %}">{{ feed_item.defender.user.username}}</a></strong>
            </div>
            {% elif feed_item.get_type == 'trade' %}
            <div class="feed-card"><strong><a href="{% url 'user_detail' feed_item.user_from.user.id %}">{{ feed_item.user_from.user.username }}<a/></strong>
              <a href="{% url 'cb_detail' feed_item.cb_offered.id %}">
                <div class="trade-half">
                  <img src="{{ feed_item.cb_offered.img }}" alt="cb-offered">
                  {{ feed_item.cb_offered }}
                </div>
              </a>
              <img class='trade-arrrow' src="{% static 'img/red_arrow.png' %}" alt="red_arrow">
              <h3>Trade!</h3>
              <img class='trade-arrrow' src="{% static 'img/green_arrow.png' %}" alt="green_arrow">
              <a href="{% url 'cb_detail' feed_item.cb_wanted.id %}">
                <div class="trade-half">
                  <img src="{{ feed_item.cb_wanted.img }}" alt="cb-wanted">
                  {{ feed_item.cb_wanted }}
                </div>
              </a>
              <strong><a href="{% url 'user_detail' feed_item.user_to.user.id %}">{{ feed_item.user_to.user.username }}</a></strong>
            </div>
            <p>{{ feed_item.get_status_display }}</p>
            {% else %}
            error
            {% endif %}
            {{ feed_item.time_passed }}
          </li>
          {% empty %}
          <li>
            <p>Nothing to show..</p>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
  </tbody>
</table>
{% else %}
<table class="tb-1">
  <tbody>
    <img id="cbImg" src="../static/img/cb.png" /></ <tr>
    <th class="td-1 cb-name">Crazy Bone</th>
    <th class="td-1">Image</th>
    <th class="td-1 cb-description" >Description</th>
    </tr>
    {% for cb in cbs %}
    <tr>
      <td class="td-1 cb-name">{{cb.name}}</td>
      <td class="td-1"><img src="{{cb.img}}" /></td>
      <td class="td-1 cb-description">{{cb.description}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}

{% endblock %}