@media only screen and (min-device-width: 768px) {
  /* Home.html Style */
  #aboutImg {
    width: 200px;
    float: left;
    margin-right: 15px;
  }
  #feedImg {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  td {
    width: 800px;
  }
  .feedList {
    display: table;
    margin: 0 auto;
  }
  #homeTable {
    border-style: outset;
  }
  #homeTd {
    border-style: ridge;
  }
  #cbImg {
    display: block;
    margin: 0 auto;
  }
  .td-1 {
    text-align: center;
  }

  ul {
    list-style: none;
  }
  .feed-li {
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .feed-li strong {
    font-size: 1.5rem;
  }
}

@media only screen and (max-device-width: 767px) {
  /* Home.html Style */
  .con {
    display: none;
  }
  .cb-name,
  .cb-description {
    display: none;
  }
  #aboutImg {
    width: 200px;
    float: left;
    margin-right: 15px;
  }
  #feedImg {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  td {
    width: 800px;
  }
  .feedList {
    display: table;
    margin: 0 auto;
  }
  #homeTable {
    border-style: outset;
  }
  #homeTd {
    border-style: ridge;
  }
  #cbImg {
    display: block;
    margin: 0 auto;
  }
  .td-1 {
    text-align: center;
  }

  ul {
    list-style: none;
  }
  .feed-li {
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .feed-li strong {
    font-size: 1.5rem;
  }
}
