img.trade-arrrow {
  width: 30px;
}
.feed-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.trade-half {
  display: flex;
  flex-direction: column;
  border: 1px solid #333;
  margin: 5px;
}
.comment-h3 {
  margin: 0;
}
@media only screen and (min-device-width: 768px) {
  /* Home.html Style */
  #aboutImg {
    width: 200px;
    float: left;
    margin-right: 15px;
  }
  #feedImg {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  td {
    width: 800px;
  }
  .feedList {
    display: table;
    margin: 0 auto;
  }
  #homeTable {
    border-style: outset;
  }
  #homeTd {
    border-style: ridge;
  }
  #cbImg {
    display: block;
    margin: 0 auto;
  }
  .td-1 {
    text-align: center;
  }

  ul {
    list-style: none;
  }
  .feed-li {
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .feed-li strong {
    font-size: 1.5rem;
  }
  .trade-arrow {
    width: 75px;
  }
  
}

@media only screen and (max-device-width: 767px) {
  /* Home.html Style */
  .con {
    display: none;
  }
  .cb-name,
  .cb-description {
    display: none;
  }
  #aboutImg {
    width: 200px;
    float: left;
    margin-right: 15px;
  }
  #feedImg {
    width: 150px;
    display: block;
    margin: 0 auto;
  }
  td {
    width: 800px;
  }
  .feedList {
    display: table;
    margin: 0 auto;
  }
  #homeTable {
    border-style: outset;
  }
  #homeTd {
    border-style: ridge;
  }
  #cbImg {
    display: block;
    margin: 0 auto;
  }
  .td-1 {
    text-align: center;
  }

  ul {
    list-style: none;
  }
  .feed-li {
    border: 1px solid black;
    margin-bottom: 10px;
  }
  .feed-li strong {
    font-size: 1.5rem;
  }
  .trade-arrow {
    width: 75px;
  }
}
