body {
  text-align: center;
}
.comment-div {
  display: flex;
  justify-content: center;
}
ul {
  list-style-type: none;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 799px;
  margin-bottom: 10px;
}
.grid-item {
  border-style: ridge;
  width: 127px;
}
p {
  margin: 0;
}
