html {
  font-family: "Times New Roman";
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
}
.btn {
  float: right;
}
nav {
  display: inline-block;
  vertical-align: top;
  position: relative;
  text-align: center;
  width: 100%;
}
#navImg {
  width: 40%;
  height: auto;
}
.baseLi {
  display: inline;
  font-size: 20px;
}
.container {
  margin-bottom: 30px;
  min-height: 100%;
}
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  color: black;
  text-align: center;
}

/* Home.html Style */
#aboutImg {
  width: 200px;
  float: left;
  margin-right: 15px;
}
#feedImg {
  width: 150px;
  display: block;
  margin: 0 auto;
}
td {
  width: 800px;
}
.feedList {
  display: table;
  margin: 0 auto;
}
#homeTable {
  border-style: outset;
}
#homeTd {
  border-style: ridge;
}