{% extends 'base.html' %} {% load static %} {% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %} {% block content %}
<h1>{{ user.username }}</h1>

<table class="tb-1">
  <tbody>
    <tr>
      <td class="td-1">First Name:</td>
      {% if user.first_name %}
      <td class="td-1">{{user.first_name}}</td>
      {% else %}
      <td class="td-1">null</td>
      {%endif%}
    </tr>
    <tr>
      <td class="td-1">Last Name:</td>
      {% if user.last_name %}
      <td class="td-1">{{user.last_name}}</td>
      {% else %}
      <td class="td-1">null</td>
      {%endif%}
    </tr>
    <tr>
      <td class="td-1">Email:</td>
      {% if user.email %}
      <td class="td-1">{{user.email}}</td>
      {% else %}
      <td class="td-1">null</td>
      {%endif%}
    </tr>
    <tr>
      <td class="td-1">Number of Crazybone You Own</td>
      <td class="td-1">{{user_cb.count}}</td>
    </tr>
    <tr>
      <td class="td-1">Join Date</td>
      <td class="td-1">{{user.date_joined}}</td>
    </tr>
    <tr>
      <td class="td-1"></td>
      <td class="td-1">
        <button><a href="{% url 'user_update' user.id %}">EDIT</a></button>
      </td>
    </tr>
  </tbody>
</table>

<hr />
<h1>Crazybones</h1>

<div class="grid-container">
  {% for cb in all_cb %} {% if cb in user_cb %}
  <div class="grid-item">
    <a href="/crazybone/{{cb.id}}"><img src="{{cb.img}}" /></a>
    <p>{{cb.name}}</p>
  </div>
  {% else %}
  <div class="grid-item">
    <a href="/crazybone/{{cb.id}}"
      ><img src="{{cb.img}}" style="filter: grayscale(100%);"
    /></a>
    <p>{{cb.name}}</p>
  </div>
  {% endif %} {% endfor %}
</div>
{% endblock %}
